version: "3.9"


services:
app:
image: nextcloud:29
restart: unless-stopped
env_file: .env
volumes:
- ./data:/var/www/html
labels:
- "traefik.enable=true"
- "traefik.http.routers.nc.rule=Host(`cloud.mondomaine.fr`)"
- "traefik.http.routers.nc.entrypoints=websecure"
- "traefik.http.routers.nc.tls.certresolver=le"
networks:
- proxy


postgres:
image: postgres:16
restart: unless-stopped
environment:
POSTGRES_DB: nextcloud
POSTGRES_USER: nc
POSTGRES_PASSWORD: strongpassword
volumes:
- postgres:/var/lib/postgresql/data


redis:
image: redis:7
restart: unless-stopped


volumes:
postgres:


networks:
proxy:
external: true
