services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - /srv/docker/traefik/traefik.toml:/etc/traefik/traefik.toml