version: "3.9"

services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - /srv/data/traefik/acme.json:/acme.json

    command:
      - "--configFile=/traefik.yml"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.docker.network=traefik-net"

    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
