all:
  children:
    k3s_master:
      hosts:
        master:
          ansible_host: <IP_MASTER>
          ansible_user: root
          ansible_connection: local

    k3s_worker:
      hosts:
        worker:
          ansible_host: <IP_WORKER>
          ansible_user: root
          ansible_connection: ssh

    k3s_cluster:
      children:
        k3s_master: {}
        k3s_worker: {}
