services:
  minecraft-server:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    tty: true
    stdin_open: true
    restart: unless-stopped

    ports:
      - "25566:25565"

    env_file:
      - .env

    volumes:
      - "${UPLOAD_LOCATION}:/data"

    labels:
      - "traefik.enable=true"

      # ROUTER TCP
      - "traefik.tcp.routers.minecraft.rule=HostSNI(`minecraft.{{ domain }}`)"
      - "traefik.tcp.routers.minecraft.entrypoints=minecraft"
      - "traefik.tcp.routers.minecraft.service=minecraft"
      - "traefik.tcp.routers.minecraft.tls=true"
      - "traefik.tcp.routers.minecraft.tls.certresolver=letsencrypt"

      - "traefik.tcp.services.minecraft.loadbalancer.server.port=25565"

    networks:
      - traefik-net
      - monitoring-net

  minecraft-exporter:
    image: ghcr.io/dirien/minecraft-exporter:latest
    restart: unless-stopped
    user: root
    env_file:
      - .env
    volumes:
      - "${UPLOAD_LOCATION}:/minecraft"
    ports:
      - "127.0.0.1:9150:9150"
    networks:
      - monitoring-net

networks:
  traefik-net:
    external: true
  monitoring-net:
    external: true
